# Node & Workspaces
node_modules/
dist/
build/
*.zip
*.log
.npm
package-lock.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.exe

# Expo & Mobile
.expo/
.expo-shared/
*.apk
*.aab

# Environment
.env
.env.*
!.env.example
